.group-92-2 {
  align-items: center;
  display: flex;
  gap: 7px;
  min-width: 148px;
  padding: 0 0.0px;
}

.group-90-3 {
  height: 56px;
  width: 47px;
}

.optimize-ai-3 {
  letter-spacing: 0.44px;
  line-height: normal;
  margin-top: 0.6px;
  min-height: 20px;
  width: 92px;
}

.group-92-2.group-92-3,
.group-92-2.group-92-4 {
  padding: unset;
}

