.group-51-6,
.group-51-7 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 21px;
  left: 64px;
  min-width: 257px;
  position: fixed;
  top: 485px;
  z-index: 12;
}

.group-39-8,
.group-39-9 {
  align-self: flex-end;
  height: 20px;
  width: 20px;
}

.fraud-and-security-detection-6,
.fraud-and-security-detection-7 {
  letter-spacing: 0.45px;
  line-height: normal;
  min-height: 20px;
}

