.group-75-6,
.group-75-7 {
  align-items: center;
  background-color: var(--athens-gray);
  box-shadow: 0px 0px 2px #00000040;
  display: flex;
  height: 96px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 0 53px;
  position: relative;
  z-index: 4;
}

