.group-53 {
  align-items: center;
  display: flex;
  margin-top: 35px;
  min-width: 422px;
}

.x-customers {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  width: 150px;
}

.number-8 {
  letter-spacing: 0.48px;
  line-height: normal;
  margin-left: 206px;
  min-height: 22px;
  min-width: 10px;
}

.group-52-3 {
  background-image: url(/static/img/arrow---chevron-right-md-4.svg);
  background-size: 100% 100%;
  height: 28px;
  margin-left: 24px;
  width: 28px;
}

.group-53.group-5,
.group-53.group-5-2,
.group-53.group-5-3,
.group-53.group-5-4,
.group-53.group-5-5,
.group-53.group-5-6 {
  margin-top: 10px;
}

.group-53.group-5-2 .group-52-3,
.group-53.group-5-1-1 .group-52-3,
.group-53.group-5-3 .group-52-3,
.group-53.group-5-4 .group-52-3,
.group-53.group-5-5 .group-52-3,
.group-53.group-5-6 .group-52-3,
.group-53.group-5-1-2 .group-52-3,
.group-53.group-5-1-3 .group-52-3,
.group-53.group-5-1 .group-52-3 {
  background-image: url(/static/img/arrow---chevron-right-md.svg);
}

.group-53.group-5-3 .x-customers,
.group-53.group-5-1-2 .x-customers {
  min-width: 171px;
  width: unset;
}

.group-53.group-5-3 .number-8,
.group-53.group-5-1-2 .number-8 {
  margin-left: 185px;
}

.group-53.group-5-4 .x-customers,
.group-53.group-5-1-3 .x-customers {
  min-width: 217px;
  width: unset;
}

.group-53.group-5-4 .number-8,
.group-53.group-5-1-3 .number-8 {
  margin-left: 139px;
}

.group-53.group-5-5 .x-customers,
.group-53.group-5-1-4 .x-customers {
  min-width: 227px;
  width: unset;
}

.group-53.group-5-5 .number-8,
.group-53.group-5-1-4 .number-8 {
  margin-left: 129px;
}

.group-53.group-5-6 .x-customers,
.group-53.group-5-1-5 .x-customers {
  min-width: 146px;
  width: unset;
}

.group-53.group-5-6 .number-8,
.group-53.group-5-1-5 .number-8 {
  margin-left: 210px;
}

.group-53.group-5 .x-customers,
.group-53.group-5-1 .x-customers {
  min-width: 154px;
  width: unset;
}

.group-53.group-5 .number-8,
.group-53.group-5-1 .number-8 {
  margin-left: 202px;
}

.group-53.group-5 .group-52-3 {
  background-image: url(/static/img/arrow---chevron-right-md-16.svg);
}

.group-53.group-5-1,
.group-53.group-5-1-1,
.group-53.group-5-1-2,
.group-53.group-5-1-3,
.group-53.group-5-1-4,
.group-53.group-5-1-5 {
  margin-left: 4.0px;
  margin-top: 10px;
}

