.group-118 {
  align-items: flex-start;
  background-color: var(--gray-nurse);
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 351px;
  padding: 24px 23px;
  width: 686px;
}

.flex-row-26 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 24px;
  margin-right: 21px;
  min-width: 606px;
}

.ellipse-24-2 {
  height: 106px;
  width: 106px;
}

.group-100-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 91px;
  width: 476px;
}

.arabica-coffee-beans-r_01 {
  letter-spacing: 0.54px;
  line-height: normal;
  min-height: 25px;
}

.the-arabica-is-a-hig-1 {
  letter-spacing: 0.45px;
  line-height: normal;
  min-height: 60px;
  opacity: 0.6;
  width: 472px;
}

.group-container-13 {
  align-items: flex-start;
  display: flex;
  gap: 152px;
  margin-top: 24px;
  min-width: 555px;
}

.group-109-1 {
  align-items: flex-start;
  display: flex;
  gap: 70px;
  height: 22px;
  min-width: 243px;
}

.category-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 75px;
  opacity: 0.6;
  text-align: right;
}

.coffe-beans {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 94px;
  opacity: 0.8;
  text-align: right;
}

.group-106-3 {
  align-items: flex-start;
  display: flex;
  gap: 35px;
  height: 22px;
  min-width: 160px;
}

.cost-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 40px;
  opacity: 0.6;
  text-align: right;
}

.price-19 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 81px;
  opacity: 0.8;
  text-align: right;
}

.group-container-14 {
  align-items: flex-start;
  display: flex;
  gap: 132px;
  margin-top: 12px;
  min-width: 555px;
}

.group-110-1 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 22px;
  min-width: 243px;
}

.sub-category-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 108px;
  opacity: 0.6;
  text-align: right;
}

.arabica-beans-5 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 112px;
  opacity: 0.8;
  text-align: right;
}

.group-107-1 {
  align-items: flex-start;
  display: flex;
  gap: 83px;
  height: 22px;
  min-width: 180px;
}

.margin-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 60px;
  opacity: 0.6;
  text-align: right;
}

.percent-5 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 33px;
  opacity: 0.8;
  text-align: right;
}

.group-container-15 {
  align-items: flex-start;
  display: flex;
  gap: 148px;
  margin-top: 12px;
  min-width: 558px;
}

.group-111-1 {
  align-items: flex-start;
  display: flex;
  gap: 71px;
  height: 22px;
  min-width: 243px;
}

.product-size-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 103px;
  opacity: 0.6;
  text-align: right;
}

.medium-2 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 65px;
  opacity: 0.8;
  text-align: right;
}

.group-108-1 {
  align-items: flex-start;
  display: flex;
  gap: 37px;
  height: 22px;
  min-width: 167px;
}

.price-20 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 44px;
  opacity: 0.6;
  text-align: right;
}

.price-21 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 82px;
  text-align: right;
}

.group-112 {
  align-items: flex-start;
  display: flex;
  gap: 89px;
  height: 22px;
  margin-top: 12px;
  min-width: 243px;
}

.colour {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 57px;
  opacity: 0.6;
  text-align: right;
}

.dark-brown {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 93px;
  opacity: 0.8;
  text-align: right;
}

.group-container-16 {
  align-items: center;
  display: flex;
  margin-top: 9px;
  min-width: 615px;
}

.group-105-1 {
  align-items: flex-start;
  display: flex;
  gap: 94px;
  height: 22px;
  min-width: 243px;
}

.shelf-life-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 77px;
  opacity: 0.6;
}

.address-13 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 68px;
  text-align: right;
}

.group-113 {
  height: 28px;
  margin-left: 292px;
  width: 28px;
}

.group-114-2 {
  height: 28px;
  margin-left: 24px;
  width: 28px;
}

.group-118.group-12-9 {
  margin-top: 12px;
}

