.group-13,
.group-13-1,
.group-13-2,
.group-13-3,
.group-13-4,
.group-13-5,
.group-13-6 {
  height: 22px;
  min-width: 165px;
  position: relative;
}

.cafe-lalo-new-york,
.cafe-lalo-new-york-1,
.cafe-lalo-new-york-2,
.cafe-lalo-new-york-3,
.cafe-lalo-new-york-4,
.cafe-lalo-new-york-5,
.cafe-lalo-new-york-6 {
  left: 0;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 0;
}

