.group-70,
.group-70-1,
.group-70-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 40.5px;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  min-width: 81px;
  padding: 22px;
}

.icon-label,
.group-69,
.group-89,
.icon-label-1,
.group-69-1,
.group-89-1,
.group-1 {
  height: 36px;
  width: 36px;
}

