.group-38,
.group-38-1 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 22px;
  left: 64px;
  min-width: 207px;
  position: fixed;
  top: 415px;
  z-index: 11;
}

.group-39-6,
.group-39-7 {
  height: 20px;
  width: 20px;
}

.customer-dashboard,
.customer-dashboard-1 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 173px;
}

