.group-42,
.group-42-1,
.group-42-2,
.group-42-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 58px;
  width: 78px;
}

.total-sales,
.total-sales-1,
.total-sales-2,
.total-sales-3 {
  letter-spacing: 0.42px;
  line-height: normal;
  min-height: 19px;
  opacity: 0.6;
}

.price-1,
.price-2,
.price-3,
.price-4 {
  letter-spacing: 0.72px;
  line-height: normal;
  min-height: 33px;
}

