.group-18,
.group-18-1,
.group-18-2,
.group-18-3,
.group-18-4,
.group-18-5,
.group-18-6,
.group-18-7 {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-left: 46px;
  min-width: 96px;
}

.group-17,
.group-17-1,
.group-17-2,
.group-17-3,
.group-17-4,
.group-17-5,
.group-17-6,
.group-17-7 {
  background-image: url(/static/img/user---user-03.svg);
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
}

.account,
.account-1,
.account-2,
.account-3,
.account-4,
.account-5,
.account-6,
.account-7 {
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 22px;
  min-width: 66px;
}

